{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Training App{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'training/styles.css' %}">
</head>
<body>
  <div class="topbar">
    <div class="topbar-inner">
      <div class="brand">Training App</div>
      <div class="nav">
        {% if request.user.is_authenticated %}
          <a href="{% url 'calendar' %}">Calendar</a>

          {% if not request.user.is_staff %}
            <a href="{% url 'my_history' %}">My history</a>
          {% endif %}

          {% if request.user.is_staff %}
          
          <div class="nav-dropdown">
            <button class="nav-dropbtn" type="button">
              Trainings ▾
            </button>
            <div class="nav-dropdown-content">
              <a href="{% url 'training_create' %}">Add training</a>
              <a href="{% url 'training_list' %}">Current and past</a>
              <a href="{% url 'recurring_training' %}">Recurring training</a>
              <a href="{% url 'training_finder' %}">Training finder</a>
            </div>
          </div>

          <div class="nav-dropdown">
            <button class="nav-dropbtn" type="button">
              People ▾
            </button>
            <div class="nav-dropdown-content">
              <a href="{% url 'people_list' %}">All</a>
            <a href="{% url 'trainer_list' %}">Trainers</a>
            </div>
          </div>


          <div class="nav-dropdown">
            <button class="nav-dropbtn" type="button">
              Reports ▾
            </button>
            <div class="nav-dropdown-content">
              <a href="{% url 'report_person' %}">Trainees</a>
            <a href="{% url 'report_trainers' %}">Trainers</a>
            </div>
          </div>
            
            
            
          {% endif %}

          {% if request.user.is_superuser %}
          <div class="nav-dropdown">
            <button class="nav-dropbtn" type="button">
              Admin ▾
            </button>
            <div class="nav-dropdown-content">
              <a href="/admin/">Admin</a>
            <a href="{% url 'uof_standards' %}">UoF Standards</a>
            </div>
          </div>
            
           
          {% endif %}

          <form method="post" action="{% url 'logout' %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn secondary small">Logout</button>
          </form>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="container">

   {% if messages %}
    <div class="flash-messages">
      {% for message in messages %}
        <div class="flash {% if message.tags %}{{ message.tags }}{% endif %}">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}


    {% block content %}{% endblock %}

  </div>
</body>
</html>
