{% extends "training/base.html" %}
{% block title %}Create training{% endblock %}

{% block content %}
  <div class="card">
    <h1 style="margin:0 0 6px;">{{ page_title|default:"Training" }}</h1>
    {% if is_edit and training %}
  <p class="help" style="margin:0 0 12px;">
    Editing: <strong>{{ training.course_name }}</strong>
  </p>
{% endif %}

    <p class="help">Fill in the details below. You can add trainees and trainers after saving.</p>

    <form method="post">
      {% csrf_token %}

      <div class="form-grid">
        <div class="form-row">
          <label for="{{ form.course_name.id_for_label }}">Course name</label>
          {{ form.course_name }}
        </div>

        <div class="form-row">
          <label for="{{ form.subject.id_for_label }}">Subject</label>
          {{ form.subject }}
        </div>

        <div class="form-row">
          <label for="{{ form.start_at.id_for_label }}">Start</label>
          {{ form.start_at }}
        </div>

        <div class="form-row">
          <label for="{{ form.end_at.id_for_label }}">End</label>
          {{ form.end_at }}
        </div>

        <div class="form-row">
          <label for="{{ form.location.id_for_label }}">Location (Country, City)</label>
          {{ form.location }}
        </div>

        <div class="form-row">
          <label for="{{ form.capacity.id_for_label }}">Capacity</label>
          {{ form.capacity }}
        </div>

        <div class="form-row full">
          <label for="{{ form.remarks.id_for_label }}">Remarks</label>
          {{ form.remarks }}
        </div>
      </div>

      <div class="actions">
        <button class="btn" type="submit">{{ submit_label|default:"Save" }}</button>
        <a class="btn secondary"
        href="{% if is_edit and training %}{% url 'training_detail' training.pk %}{% else %}{% url 'calendar' %}{% endif %}">
        Back
      </a>
      </div>
    </form>
  </div>
{% endblock %}
